/* @font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('NeuzeitGroExt-Bla.eot');
    src: local('Neuzeit Grotesk Extra-condensed Black'), local('NeuzeitGroExt-Bla'),
        url('NeuzeitGroExt-Bla.eot?#iefix') format('embedded-opentype'),
        url('NeuzeitGroExt-Bla.woff2') format('woff2'),
        url('NeuzeitGroExt-Bla.woff') format('woff'),
        url('NeuzeitGroExt-Bla.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('~/assets/fonts/NeuzeitGro-Bla.eot');
    src: local('Neuzeit Grotesk Black'), local('NeuzeitGro-Bla'),
        url('~/assets/fonts/NeuzeitGro-Bla.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/NeuzeitGro-Bla.woff2') format('woff2'),
        url('~/assets/fonts/NeuzeitGro-Bla.woff') format('woff'),
        url('~/assets/fonts/NeuzeitGro-Bla.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('~/assets/fonts/NeuzeitGro-Reg.eot');
    src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
        url('~/assets/fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/NeuzeitGro-Reg.woff2') format('woff2'),
        url('~/assets/fonts/NeuzeitGro-Reg.woff') format('woff'),
        url('~/assets/fonts/NeuzeitGro-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('~/assets/fonts/NeuzeitGro-Lig.eot');
    src: local('Neuzeit Grotesk Light'), local('NeuzeitGro-Lig'),
        url('~/assets/fonts/NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/NeuzeitGro-Lig.woff2') format('woff2'),
        url('~/assets/fonts/NeuzeitGro-Lig.woff') format('woff'),
        url('~/assets/fonts/NeuzeitGro-Lig.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('~/assets/fonts/NeuzeitGro-Bol.eot');
    src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
        url('~/assets/fonts/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/NeuzeitGro-Bol.woff2') format('woff2'),
        url('~/assets/fonts/NeuzeitGro-Bol.woff') format('woff'),
        url('~/assets/fonts/NeuzeitGro-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('NeuzeitGroCon-Bla.eot');
    src: local('Neuzeit Grotesk Condensed Black'), local('NeuzeitGroCon-Bla'),
        url('NeuzeitGroCon-Bla.eot?#iefix') format('embedded-opentype'),
        url('NeuzeitGroCon-Bla.woff2') format('woff2'),
        url('NeuzeitGroCon-Bla.woff') format('woff'),
        url('NeuzeitGroCon-Bla.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #eee;
  padding: 1.5rem;
  padding-right: 4rem;
  font-family: 'Neuzeit Grotesk', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

a.button {
  border: 1px solid #000;
  border-radius: 2em;
  padding: 1em 2em;
  display:inline-block;
  margin:1em 0;
}

img {
  max-width: 100%;
}

.artist-title {
  display:block;
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 0.25em;
  background-color: #fff;
  border:1px solid #000;
  border-radius: 2em;
  line-height: 1;
  text-align: center;
}
.exhibition-title {
  display:block;
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 0.25em;
  background-color: #fff;
  border:1px solid #000;
  line-height: 1;
  text-align: center;
}
